flows.json
[
    {
        "id": "5c9c3c88ebdebe8c",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ee5f31642e6debc",
        "type": "mqtt in",
        "z": "5c9c3c88ebdebe8c",
        "name": "",
        "topic": "GS_2TDSPV",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2ef9908db7d942a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "e8514cfce69ec442",
                "3e83dc1b0e5cde3a"
            ]
        ]
    },
    {
        "id": "e8514cfce69ec442",
        "type": "debug",
        "z": "5c9c3c88ebdebe8c",
        "name": "Verificar JSON 2TDSPV",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "3e83dc1b0e5cde3a",
        "type": "function",
        "z": "5c9c3c88ebdebe8c",
        "name": "status tempo",
        "func": "msg.payload = msg.payload.tempo_de_uso;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "935b1d6b5f9c9bcb",
                "54e1dab4418ae6b6",
                "6d382703e7d3524b"
            ]
        ]
    },
    {
        "id": "935b1d6b5f9c9bcb",
        "type": "ui_gauge",
        "z": "5c9c3c88ebdebe8c",
        "name": "",
        "group": "ad72ec5429b03499",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tempo do ultimo banho",
        "label": "A",
        "format": "{{msg.payload.tempo_de_uso}}",
        "min": 0,
        "max": "7.00",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "54e1dab4418ae6b6",
        "type": "ui_chart",
        "z": "5c9c3c88ebdebe8c",
        "name": "",
        "group": "ad72ec5429b03499",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Banhos Tomados",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6d382703e7d3524b",
        "type": "ui_text_input",
        "z": "5c9c3c88ebdebe8c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ad72ec5429b03499",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "payload.tempo_de_uso",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2ef9908db7d942a1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ad72ec5429b03499",
        "type": "ui_group",
        "name": "Oasis",
        "tab": "247bab6832ba30eb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "247bab6832ba30eb",
        "type": "ui_tab",
        "name": "Oasis",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]